@{
    ViewData["Title"] = "Login Page";
}
<h1>@ViewData["Title"]</h1>

@using (Html.BeginForm("Login", "Login", FormMethod.Post))
{
        <div style="margin-top:70px;">
        @Html.ValidationSummary()
            <div class="form-group">
                <label for="UserName">UserName</label>
                <input type="text" class="form-control" name="UserName" placeholder="Enter Username">
            
            </div>
            <div class="form-group">
                <label for="Password">Password</label>
                <input type="password" class="form-control" name="Password" placeholder="Password">
            

            </div>

        <button type="submit" class="btn btn-primary">Submit</button>
        </div>
}
